.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 8);
}

.slider img {
    opacity: 0.6 !important;
}

.img {
    margin-left: 39px;
}

.parallax-container {
    height: 20%;
}

.services {
	background-image: url('../img/slider/3.png');
	background-attachment: fixed;
    /* filter: grayscale(1); */
    opacity: 0.8 !important;
}

.services h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 8);
}

.clients img {
    max-width: 159px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.portfolio img:hover {
    opacity: 0.6 !important;
    transition-duration: .1s;
    padding: .5px;
    box-shadow: 2px 2px 5px rgb(94, 159, 202);
    
}

section,
footer {
    padding: 20px 0;
}

div {
    text-align: justify;
}

.card-panel:hover {
    border: 1px solid rgb(77, 124, 196);
    box-shadow: aqua;
}